@media only screen and (max-width : 1200px) {
	.popup_menu_holder_outer {
		max-width: 100%;
	}
	.header_info .search-widget{
		display:none;
	}
	.header_info .text-widget {
    	width: 100%;
	}
	.header_info .text-widget p {
    	width: 50%;
		margin-right:0;
	}
	.header_info .search-widget{
		float:right;
	}	
}
@media only screen and (min-width : 767px) and (max-width : 1024px) {
	p{
		font-size:16px;
		margin-bottom:15px;
	}
	.header_info .text-widget {
		margin-top: 35px;
		padding-left:20px;
	}
	header .container_inner .header_inner_left {
		width: 30%;
	}
	.q_logo {
		margin-top: 30px;
		top: 0;
		width: 100%;
	}
	.header_info {
		width: 60%;
	}
	#intro_1 h1 {
    	font-size: 36px;
		padding-left: 20px;
	}
	#facts li {
		font-size: 16px;
		line-height: 24px;
		margin-bottom: 10px;
	}
	#facts .qbutton{
		margin-left:50%;
	}
	#industries_tab .tab-content p {
    	font-size: 18px;
    	line-height: 24px;
	}
	#industries_tab .tab-content h1 {
		font-size: 36px;
		line-height: 46px;
	}
	#industries_tab .tabs-nav a {
    	background-position: 5px center;
		font-size: 16px;
		padding:25px 0 15px 45px;
	}
	footer #footer_menu ul.menu li a {
		font-size: 20px;
		font-weight: 700;
	}
	footer #footer_menu ul.menu li ul li a{
		font-size: 16px;
    	font-weight: 600;
	}
	.four_columns > .column1, .four_columns > .column2, .four_columns > .column3{
    	width: 33%;
	}
	.four_columns > .column4 {
    	width: 40%;
	}
	.four_columns > .column4 > .column_inner {
    	padding: 0;
	}
	footer .address p {
		font-size: 14px;
		line-height: 18px;
	}
	.footer_top .four_columns .column4 .column_inner > div {
    	margin: 0;
	}
	.q_logo img{
		width:125px;
	}
}
/*@media only screen and (max-width: 600px){

}*/
@media only screen and (min-width: 319px) and (max-width: 766px){
	header .container_inner .header_inner_left, .header_info {
		width: 90%;
	}
	.header_info .text-widget p {
		font-size: 16px;
	}
	.header_info .text-widget i {
		font-size: 20px;
		line-height: 25px;
		margin-right: 10px;
	}
	.header_info .text-widget {
		margin-top:0px;
		margin-bottom:20px;
	}
	span.popup_menu_text{
		display:none;
	}
	.side_menu_button {
    	height: 0;
	}
	.side_menu_button, .shopping_cart_inner {
    	height:0 !important;
	}
	.dual-right{
		float:none;
	}
	.dual-left{
		float:none;
	}
	#intro_1 .intro_headings{
		border-right:none;
		margin-bottom:0;
		margin-top:0;
	}
	#intro_1 h1 {
		font-size: 32px;
		text-align: right;
		padding-right:0;
		width:100%;
	}
	#facts h2 {
    	font-size: 28px;
    	line-height: 36px;
	}
	#facts li {
		font-size: 18px;
		line-height: 24px;
		margin-bottom: 15px;
	}
	#facts .qbutton{
		margin-bottom:25px;
	}
	#industries_tab ul.tabs-nav{
		float:left;
		width:100%;
		margin-left:0;
		margin-right:0;
		margin-top: 25px;
	}
	#industries_tab ul.tabs-nav li{
		width:48%;
		margin-right:2%;
	}
	#industries_tab .tabs-nav a{
		border-top-left-radius:0;
		border-top-right-radius: 0;
		font-size: 14px;
		padding: 20px 0;
		text-align: center;
		margin-bottom:5px;
	}
	#industries_tab .tabs-nav li:first-child a, #industries_tab .tabs-nav li:nth-child(2) a, #industries_tab .tabs-nav li:nth-child(3) a, #industries_tab .tabs-nav li:last-child a {
		background-image: none;
	}
	#industries_tab .tab-content h1 {
		font-size: 28px;
		line-height: 36px;
	}
	#industries_tab .tab-content p {
		font-size: 18px;
		line-height: 28px;
	}

	#job_search{
		display:none;
	}
	.job_description .web-application {
    	background-image: url("img/web_application.png");
	}
	.job_description .job_title {
    	padding-left: 56px;
	}
	.job_description .job_title h3 {
		font-size: 18px;
		line-height: 32px;
	}
	.job_description .job_title h3, .job_description .job_title p, .job_description p.job_id, .job_inner_content .each_job .job_title p{
		margin-bottom:5px;
		font-size:14px;
	}
	.job_description .job_title p span {
		float:left;
		width:100%;
	}
	
	footer #footer_top .social-icons {
		display: block;
		float: none;
		margin: 0 auto;
		width: 200px;
	}
	footer #footer_menu {
		display:none;
	}
	footer #footer_top {
		margin-bottom:0;
	}
	footer .address p {
		font-size: 13px;
		line-height: 16px;
	}
	footer .map, footer .address {
		max-width: 145px;
	}
}