/*** General style **/
body, .content{
	background:#FFF;
	color:#303030;
}
p{
	font-size:18px;
	line-height:24px;
	margin-bottom:25px;
}
strong{
	font-weight:700;
}
.dark-section p{
	color:#FFF;
}
.large-paragraph p{
	font-size:18px;
	line-height:32px;
}
a#center{
	width:200px;
	display:block;
	margin:0 auto;
}
.light-color{
	color:#4594d0;
}
.dim-color{
	color:#83C3D6;
}
.dark-color{
	color:#00467F;
}
button.ubtn {
	padding:15px 60px;
}
.dual-right{
	float:right;
}
.dual-left{
	float:left;
}
.slick-slider {
    margin-bottom: 0;
}
#page_search input[type="search"]{
	float:left;
	width:80%;
	padding:10px 5% 10px 32px;
	border:1px solid #929292;
	background:url(img/search-ico.png) no-repeat scroll center left #FFF;
	margin-bottom:10px;
}
#page_search input[type="submit"]{
	float:left;
	width:auto;
	padding:10px;
	text-align:center;
	color:#FFF;
	background:#83C4D6;
	border:none;
	min-width:125px;
	cursor:pointer;
}
#page_search input[type="submit"]:hover{
	background:#0E84A7;
}
/**************************************
************** Header ************
************************************/

header .container_inner .header_inner_left {
    float: left;
    position: inherit;
    width: 40%;
}
.logo_wrapper {
    height: auto;
	width: 100%;
}
.q_logo {
    float: left;
    left: 0;
    top: 50%;
    width: 100%;
}
header .q_logo img{
	max-width:100% !important;
	height:auto !important;
}

.header_info {
    float: left;
    width: 50%;
	margin-top:30px;
}
.scrolled .header_info {
	margin-top:15px;
}

.header_info .text-widget p{
	float:left;
	margin-bottom:0;
	font-size:18px;
	color:#013D58;
	font-weight:500;
	margin-right:25px;
}
.header_info .text-widget a {
    background: #83c4d6;
    border-radius: 6px;
    color: #fff;
    float: left;
    padding: 2px 10px;
	font-size:12px;
}
.header_info .text-widget i{
	float:left;
	margin-right:10px;
	color:#0C84A6;
	font-size:24px;
	line-height: 24px;
}


.header_info .search-widget input[type="search"], .header_info .search-widget input[type="image"]{
	float:left;
}
.header_info .search-widget input[type="search"] {
    background: #d6dcdc;
    border: medium none;
    border-radius: 15px;
    color: #033b58;
    font-size: 18px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-top: 10px;
    width: 175px;
}
.header_info .search-widget input[type="image"]{
	margin-left:-25px;
}

.header_inner_right {
    width: 10%;
}
.header_info .search-widget{
	float:left;
}
.header_info .text-widget{
	float:left;
	margin-top:10px;
}
.scrolled .header_inner_right {
    width: 10%;
}

.popup_menu_opened header{
	background:#FFF;
}
.dark:not(.sticky):not(.scrolled) .popup_menu:not(.opened) .line, .dark:not(.sticky):not(.scrolled) .popup_menu:not(.opened) .line::before, .dark:not(.sticky):not(.scrolled) .popup_menu:not(.opened) .line::after, .dark.header_style_on_scroll .popup_menu:not(.opened) .line, .dark.header_style_on_scroll .popup_menu:not(.opened) .line::before, .dark.header_style_on_scroll .popup_menu:not(.opened) .line::after,.popup_menu.opened .line::before, .popup_menu.opened .line::after, .popup_menu .line::after, .popup_menu .line::before , .popup_menu .line {
    background-color: #0e84a8;
}
.popup_menu_opened .popup_menu_holder_outer {
    opacity: 1;
    visibility: visible;
}
.popup_menu_holder_outer {
    max-width: 400px;
    right: 0;
	left: auto;
}
.popup_menu_holder {
    background-color: rgba(71, 65, 67, 0.9);
}
.popup_menu .line::after {
    top: 10px;
}
.popup_menu .line::before {
    top: -10px;
}
.popup_menu .line::before {
    top: -10px;
}
.popup_menu .line::after, .popup_menu .line::before, .popup_menu .line{
    height: 6px;
    width: 32px;
}
nav.popup_menu ul li{
	margin-bottom:20px;
}
nav.popup_menu ul li ul{
	margin-top:10px;
}
nav.popup_menu ul li ul li{
	margin-bottom:0px;
}
nav.popup_menu ul li a{
    font-weight: bold;
    letter-spacing: normal;  
    margin: 0 20%;
    width: 60%;
	text-align:left;
	border-bottom:1px solid #8E8A89;
}
nav.popup_menu ul li ul li a, nav.popup_menu ul li ul li h6 {
    line-height: 24px;
	border-bottom:none;
	margin-bottom:0;
}
span.popup_menu_text{
	font-size:18px;
	text-transform:lowercase;
	color:#0E84A8;
	float:right;
	padding-left:18px;
	font-weight:600;
}
/**************************************
************** Fonts ************
************************************/
.header_info .text-widget span{
	font-family:'cooper_hewittmedium';
}
/**************************************
************** HOME PAGE ************
************************************/

/*** Intro Section **/
#intro_1 h1 {
    font-size: 42px;
    font-weight: 200;
    line-height: 42px;
    margin-bottom: 15px;
    padding-right: 10%;
    text-align: right;
    width: 90%;
	color:575050;
}
#intro_1 h1 span{
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
	font-weight:600;
}
#intro_1 h1 span.light {
    background-color: #4594d0;
}
#intro_1 h1 span.dim{
    background-color: #83C3D6;
}
#intro_1 h1 span.dark {
    background-color: #00467F;
}
#intro_1 .intro_headings{
	padding-top:25px;
	padding-bottom:25px;
	margin-top:50px;
	margin-bottom:50px;
	border-right:1px solid #494343;
}
#intro_1 .intro_text h2, #intro_1 .intro_text p, #intro_1 .intro_text a{
	margin-left:10%;
}
#intro_1 .wpb_column{
	padding-left:0;
	padding-right:0;
}
/********** Jobs Intro *********/
#jobs_intro p{
	padding-left:10%;
	padding-right:10%;
	width:80%;
}
#jobs_intro .jobs_context{
	background:url(img/loads.png) no-repeat scroll center 150px transparent;
}

#icon_boxs .wpb_column{
	background-size: 100% 100%;
	-moz-transition: all .5s;
	-webkit-transition: all .5s;
	transition: all .5s;
}
#icon_boxs .wpb_column:hover{
	background-size: 120% 120%;   
}
/*********** Facts ***************/
#facts h2{
	font-size:36px;
	line-height:42px;
	font-weight:300;
	margin-bottom:25px;
}
#facts ul {
	padding-left:30px; 
	list-style:none; 
}
#facts li {
	margin-bottom:25px;
	font-size:24px;
	line-height:32px;
	font-weight:600;
	color:#494343;
}
#facts li:before {    
    font-family: 'FontAwesome';
    content:"\f111";
    margin:0 10px 0 -30px;
}
#facts li.dim-color-before:before{
	color:#4594d0;
}
#facts li.dark-color-before:before{
	color:#00467F;
}
#facts .floating{
	float:left;
	width:50%;
}
#facts .floating img{
	width:80%;
	margin-right:20%;
}
/*********** Slider ***************/
#industries_tab{
	background-position:right center;
}
#industries_tab ul.tabs-nav{
	float:left;
	width:90%;
	margin-left:5%;
	margin-right:5%;
	margin-top:60px;
}
#industries_tab ul.tabs-nav li{
	float:left;
	width:22.5%;
	margin-right:2.5%;
}
#industries_tab .tabs-nav a{
	background-color: #1674b9;
    background-position: 25px center;
    background-repeat: no-repeat;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    color: #fff;
    font-size: 18px;
    height: auto;
    line-height: 26px;
    padding: 25px 0 25px 70px;
    text-align: left;
    text-transform: none;
}
#industries_tab .tabs-nav a:hover, #industries_tab .tabs-nav li.active a{
	background-color:#84C3D5;
}
#industries_tab .tab-content p{
	color:#83c3d5;
	font-size:24px;
	margin-bottom:25px;
	line-height:36px;
}
#industries_tab .tab-content h1{
	font-size:48px;
	line-height:56px;
	color:#FFF;
	font-weight:200;
	margin:25px 0;
}
#tab-1447646929883-1-2, #tab-1447646935045-2-2, #tab-1447646940106-3-4{
	display:none;
}
#industries_tab .tabs-nav li:first-child a{
	background-image: url(img/start-up.png);
}
#industries_tab .tabs-nav li:nth-child(2) a{
	background-image: url(img/technology.png);
}
#industries_tab .tabs-nav li:nth-child(3) a{
	background-image: url(img/financial.png);
}
#industries_tab .tabs-nav li:last-child a{
	background-image: url(img/bio.png);
}
/**************************************
**************other Page ************
************************************/
.thick-border{
	border-bottom:5px solid #033B58;
}

.top-icon .aio-icon-header h3.aio-icon-title {
    margin: 10px 0 0;
}
.aio-icon-img .img-icon {
    width: 100%;
	max-width:190px;
	padding-left: 5%;
    padding-right: 5%;
}
.aio-icon-top .aio-icon-img {
	width:100%;
}

#industry-slider .aio-icon-box, #industry-slider .wpb_column > .wpb_wrapper .aio-icon-component .aio-icon-box{
    margin-bottom:0px;
	padding-bottom: 20px;
    padding-top: 20px;
}
#industry-slider .wpb_column > .wpb_wrapper .aio-icon-component .aio-icon-box:hover, #industry-slider .aio-icon-box:hover{
 	background:#ecf0f1;
}
#industry-slider_content .tab{
	display:none;
}

#employers_icons .wpb_column {
	min-height:385px;
}
.chpcs_foo_content .chpcs_img {
	float:left;
	max-width:530px;
}
.chpcs_foo_content .chpcs_img img{
	min-width:335px;
}
.chpcs_title {
    font-size: 18px;
    font-weight: bold;
    line-height: 36px;
    text-align: left;
	float:left;
	max-width:100%;
}
.chpcs_foo_content p.date{
	float:left;
	margin-bottom:0;
}
#benefits .q_font_awsome_icon i{
	margin-top:40px;
}
body .gform_wrapper input[type="text"], body .gform_wrapper input[type="email"], body .gform_wrapperinput[type="phone"], body .gform_wrapper select, body .gform_body textarea{
	border:1px solid #f3f3f3;
}
.gform_wrapper {
    margin: 0;
}
body li.hidden_label label{
	display:none;
}
.gform_wrapper li.hidden_label input {
    margin-top: 0;
}
body .gform_wrapper label.gfield_label + div.ginput_container {
    margin-top: 0;
}
#referral input[type="text"], #referral input[type="email"]{
	float:left;
	width:52%;
	padding:10px 2.5%;
	margin-bottom:20px;
	border:1px solid #aaaaaa;
}
#referral label{
	width:38%;
	text-align:right;
	float:left;
	padding:5px 2% 0 0;
	font-size:16px;
}
#referral label.full{
	padding:0;
	width:100%;
	margin-bottom:20px;
	text-align:left;
}
#referral textarea{
	float:left;
	width:90%;
	padding:10px 2.5%;
	border:1px solid #aaaaaa;
	height:180px;
	margin-bottom:20px;
}
#referral input[type="submit"]{
	background: #0e85a7;
    color: #fff;
    margin: 0;
    padding: 10px;
    text-align: center;
	border:none;
	min-width:125px;
	cursor:pointer;
}
#referral .submit{
	float:left;
	width:100%;
}
/**************************************
************** Job Page ****************
************************************/
#job_search{
	border-top:1px solid #073E5D;
}
#job_search input[type="text"], #job_search input[type="submit"]{
	font-size: 16px;
}
#job_search input[type="text"] {
    border: 2px solid #82c3d5;
    float: left;
    margin-right: 1%;
    padding: 10px 0.5%;
    width: 17%;
}
#job_search input[type="submit"]{
	width:20%;
	padding:10px 0;
	margin:0;
	text-align:center;
	color:#FFF;
	background:#0E85A7;
	border:2px solid transparent;
	border-radius:4px;
	cursor:pointer;
}
.jobs-header{
	background:#0E85A7;
	padding:10px 5%;
	float:left;
	width:90%;
	margin-top:20px;
}
.jobs-header h3{
	color:#FFF;
	font-size:18px;
	line-height:24px;
	margin-bottom:0;
}
.job-filter_content, .each_job, .related_job, .job_description{
	padding:20px 5%;
	width:90%;
	float:left;
	background:#F3F8FB;
}
.job_alpha{
	background:#ECF0F1;
}
.job_inner_content label{
	float:left;
	width:100%;
	font-size:14px;
	margin-bottom:5px;
}

.job_inner_content  .job_title{
	background-repeat:no-repeat;
	background-position:0 center;
	background-color:transparent;
	padding-left:56px;
	margin-top: 25px;
}
.job_inner_content .web-application{
	background-image:url(img/web_application.png);
}
.job_inner_content .web-users{
	background-image:url(img/web-users.png);
}
.job_inner_content .cloud{
	background-image:url(img/cloud.png);
}
.job_inner_content .job_title h3{
	font-weight:bold;
	font-size:18px;
	line-height:24px;
}
.job_inner_content .each_job .job_title  p, .job_inner_content  .job_content p, .related_job p{
	font-weight:600;
}
.job_inner_content  .job_content p{
	margin-bottom:10px;
}
.job_inner_content  .job_content p.description,  .related_job p{
	font-size:14px;
	line-height:18px;
}
.job_inner_content .job_content a , .job_description a{
    background: #0e85a7 none repeat scroll 0 0;
    border-radius: 4px;
    color: #fff;
    float: left;
    font-weight: 600;
    margin-right: 4%;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
    width: 46%;
}
div.pp_pic_holder {
    background: #F9F9F9 ;
    border-radius: 4px;
    padding:0 20px;
	width:320px !important;
}
div.ppt, .pp_content, .pp_details{
	width:100% !important;
}
body div.pp_default .pp_close::after{
	color:#000;
	font-size:24px;
	height:24px;
}

.pp_pic_holder input[type="text"], .pp_pic_holder input[type="email"] {
    background: url(img/input.png) repeat scroll 0 0 transparent;
    border: 1px solid #919191;
    border-radius: 4px;
    float: left;
    margin-bottom: 10px;
    padding:6px 5%;
    width: 40%;
}
.pp_pic_holder input[type="file"]{
	float:left;
	width:100%;
}
.pp_pic_holder h3{
	margin-bottom:10px;
}
.pp_pic_holder h3, .pp_pic_holder p{
	float:left;
	width:100%;
}
.pp_pic_holder input[type="submit"]{
	float:left;
	width:50%;
	margin-right:50%;
	background:#0E85A7;
	color:#FFF;
	border:none;
	padding:6px;
	text-align:center;
	cursor:pointer;
	margin-top:10px;
	max-width:100px;
	border-radius:4px;
}
/**************************************
************** Job Single Page ********
************************************/
.portfolio_single {
    padding: 50px 0;
}
div.job_slider{
	background-image:url(img/job_slide.jpg);
	 background-position: left center;
	 margin-top:100px;
}
.related_job h3{
	font-size:18px;
	line-height:24px;
}
.related_job p {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 10px;
}
.related_job .job_title{
	margin-top:0;
	padding-top:5px;
	padding-bottom:5px;
}
.job_description .job_title h3, .job_description .job_title p, .job_description p.job_id{
	font-weight:600;
	margin-bottom:10px;
}
.job_description .job_title h3{
	font-size:24px;
	line-height:32px;
}
.job_description .job_title p span{
	padding-top:5px;
	border-top:1px solid #494343;
	padding-bottom:5px;
	border-bottom:1px solid #494343;
}
.job_description .web-application {
    background-image: url("img/web_application_large.png");
}
.job_description .job_title {
    padding-left: 110px;
}
.job_description p.job_id{
	text-align:right;
}
.job_description .job_summary{
	padding:20px 0;
}
.job_description .job_summary p{
	margin-bottom:25px;
	font-size:16px;
}
.job_description .job_summary .space-left{
	margin-left:10%;
}
 .job_description a{
 	padding:10px 0;
	max-width:150px;
 }
/**************************************
************** Footer ****************
************************************/
footer .map, footer .address{
	float:left;
	width:50%;
}
footer .map{
	max-width:115px;
}
footer .map img{
	max-width:95%;
	margin-right:5%;
}
footer .address h3{
	font-weight:700;
	margin-bottom:10px;
}
footer .address p {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 5px;
}
footer #footer_top{
	margin-bottom:50px;
}
footer #footer_top .social-icons{
	float:right;
	margin-top:25px;
}
footer #footer_top .social-icons a{
	font-size:32px;
	line-height:42px;
	margin-left:10px;
}
footer #footer_menu{
	float:left;
	width:100%;
	margin-bottom:50px;
}
footer #footer_menu ul.menu li{
	float:left;
	width:25%;
	margin-right:1%;
}
footer #footer_menu ul.menu li.half{
	width:15%;
}
footer #footer_menu ul.menu li ul{
	float:left;
	width:100%;
	margin-top:20px;
}
footer #footer_menu ul.menu li ul li{
	float:left;
	width:100%;
	margin-bottom:5px;
}
footer #footer_menu ul.menu li a{
	font-size:24px;
	font-weight:700;
}
footer #footer_menu ul.menu li a:hover{
	color:#83c3d5 !important;
}
footer #footer_menu ul.menu li ul li a{
	font-size:18px;
}